body {
    text-align: center;
    background-color: #FFC6FF;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: x-large;
}

p {
    text-align: center;
    font-size: x-large;

}

h1 {
    font-size: x-large;
}

h3 {
    font-size: x-large;
}

img {
    align-items: center;
}

summary {
    text-align: center;
    font-size: x-large;
}

summary {
    text-align: center;
    font-size: x-large;
}

.dark-mode {
        background-color: #570857;
    }

    button {
        cursor: default;
        border-color: blue;
        padding: 10px;
        margin: 15px;

    }