body {
    text-align: center;
    background-color: #FFC6FF;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
}
h2 {
    text-align: ;
}
p {
    text-align: center;
}